[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "forks/fabbri"]
	path = forks/fabbri
	url = git@github.com:rfabbri/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/fabbri-priv"]
	path = forks/fabbri-priv
	url = git@github.com:rfabbri/alg-fabbri-IPRJ-UERJ-priv.git
[submodule "forks/bernardobrust"]
	path = forks/bernardobrust
	url = git@github.com:bernardobrust/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/caua07"]
	path = forks/caua07
	url = git@github.com:caua07/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/arthurcdesouza"]
	path = forks/arthurcdesouza
	url = git@github.com:arthurcdesouza/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Ericlaucian"]
	path = forks/Ericlaucian
	url = git@github.com:Ericlaucian/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/PedroCannone"]
	path = forks/PedroCannone
	url = git@github.com:PedroCannone/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/iprjnapster"]
	path = forks/iprjnapster
	url = git@github.com:iprjnapster/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Jonathan-de-Paula"]
	path = forks/Jonathan-de-Paula
	url = git@github.com:Jonathan-de-Paula/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/ramonschautz"]
	path = forks/ramonschautz
	url = git@github.com:ramonschautz/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/GabrielGLima7"]
	path = forks/GabrielGLima7
	url = git@github.com:GabrielGLima7/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/ogcelio"]
	path = forks/ogcelio
	url = git@github.com:ogcelio/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/BryanDevil12"]
	path = forks/BryanDevil12
	url = git@github.com:BryanDevil12/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/MariluPascal"]
	path = forks/MariluPascal
	url = git@github.com:MariluPascal/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Cam-18"]
	path = forks/Cam-18
	url = git@github.com:Cam-18/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Bruno-Grosso"]
	path = forks/Bruno-Grosso
	url = git@github.com:Bruno-Grosso/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/lhff97"]
	path = forks/lhff97
	url = git@github.com:lhff97/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/gabriellefoliv"]
	path = forks/gabriellefoliv
	url = git@github.com:gabriellefoliv/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/PedroPato-WD"]
	path = forks/PedroPato-WD
	url = git@github.com:PedroPato-WD/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/ArthurMacedo32"]
	path = forks/ArthurMacedo32
	url = git@github.com:ArthurMacedo32/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/GabeeW"]
	path = forks/GabeeW
	url = git@github.com:GabeeW/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/arsvictorhugo"]
	path = forks/arsvictorhugo
	url = git@github.com:arsvictorhugo/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/MarceloBxD"]
	path = forks/MarceloBxD
	url = git@github.com:MarceloBxD/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/KNUKLES12"]
	path = forks/KNUKLES12
	url = git@github.com:KNUKLES12/alg-e-est-de-dados.git
