[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "forks/fabbri"]
	path = forks/fabbri
	url = git@github.com:rfabbri/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/fabbri-priv"]
	path = forks/fabbri-priv
	url = git@github.com:rfabbri/alg-fabbri-IPRJ-UERJ-priv.git
[submodule "forks/bernardobrust"]
	path = forks/bernardobrust
	url = https://github.com/bernardobrust/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/caua07"]
	path = forks/caua07
	url = https://github.com/caua07/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/arthurcdesouza"]
	path = forks/arthurcdesouza
	url = https://github.com/arthurcdesouza/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Ericlaucian"]
	path = forks/Ericlaucian
	url = https://github.com/Ericlaucian/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/PedroCannone"]
	path = forks/PedroCannone
	url = https://github.com/PedroCannone/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/iprjnapster"]
	path = forks/iprjnapster
	url = https://github.com/iprjnapster/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Jonathan-de-Paula"]
	path = forks/Jonathan-de-Paula
	url = https://github.com/Jonathan-de-Paula/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/ramonschautz"]
	path = forks/ramonschautz
	url = https://github.com/ramonschautz/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/GabrielGLima7"]
	path = forks/GabrielGLima7
	url = https://github.com/GabrielGLima7/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/ogcelio"]
	path = forks/ogcelio
	url = https://github.com/ogcelio/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/BryanDevil12"]
	path = forks/BryanDevil12
	url = https://github.com/BryanDevil12/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/MariluPascal"]
	path = forks/MariluPascal
	url = https://github.com/MariluPascal/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Cam-18"]
	path = forks/Cam-18
	url = https://github.com/Cam-18/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/Bruno-Grosso"]
	path = forks/Bruno-Grosso
	url = https://github.com/Bruno-Grosso/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/lhff97"]
	path = forks/lhff97
	url = https://github.com/lhff97/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/gabriellefoliv"]
	path = forks/gabriellefoliv
	url = https://github.com/gabriellefoliv/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/PedroPato-WD"]
	path = forks/PedroPato-WD
	url = https://github.com/PedroPato-WD/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/ArthurMacedo32"]
	path = forks/ArthurMacedo32
	url = https://github.com/ArthurMacedo32/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/GabeeW"]
	path = forks/GabeeW
	url = https://github.com/GabeeW/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/arsvictorhugo"]
	path = forks/arsvictorhugo
	url = https://github.com/arsvictorhugo/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/MarceloBxD"]
	path = forks/MarceloBxD
	url = https://github.com/MarceloBxD/alg-fabbri-IPRJ-UERJ.git
[submodule "forks/KNUKLES12"]
	path = forks/KNUKLES12
	url = https://github.com/KNUKLES12/alg-e-est-de-dados.git
